apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: keycloak
  namespace: sso
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`sso.redcomet.ca`)
      services:
        - kind: Service
          name: keycloak-service
          port: 8080
