apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: democratic-csi-nfs
  namespace: argocd
spec:
  destination:
    namespace: democratic-csi
    server: https://kubernetes.default.svc
  project: default
  sources:
    - chart: democratic-csi
      repoURL: https://democratic-csi.github.io/charts/
      targetRevision: 0.15.1
      helm:
        valueFiles:
          - $values/values/democratic-csi/k0s-nfs.yaml
    - repoURL: https://github.com/caseyrobb/k0s-gitops.git
      targetRevision: HEAD
      ref: values
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
