apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: keycloak
  namespace: argocd
spec:
  destination:
    namespace: sso
    server: https://kubernetes.default.svc
  project: default
  sources:
    - kustomize:
        namespace: sso
      path: components/apps/keycloak
      repoURL: https://github.com/caseyrobb/k0s-gitops
      targetRevision: HEAD
      ref: values
    - kustomize:
        namespace: sso
      path: components/apps/keycloak-operator
      repoURL: https://github.com/caseyrobb/k0s-gitops
      targetRevision: HEAD
      ref: values
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
