apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: keycloak
  namespace: argocd
spec:
  destination:
    namespace: keycloak
    server: https://kubernetes.default.svc
  project: default
  sources:
    - kustomize:
        namespace: keycloak
      path: components/apps/keycloak
      repoURL: https://github.com/caseyrobb/k0s-gitops
      targetRevision: HEAD
      ref: values
    - chart: keycloak
      helm:
        valueFiles:
          - $values/values/keycloak/k0s-values.yaml
      repoURL: https://charts.bitnami.com/bitnami
      targetRevision: 25.2.0
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
  ignoreDifferences:
    - kind: "Secret"
      name: "keycloak-postgresql"
      jsonPointers:
        - /data/postgres-password
