apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/compare-options: IgnoreExtraneous
    argocd.argoproj.io/sync-options: ServerSideApply=true
  name: longhorn
  namespace: argocd
spec:
  destination:
    namespace: longhorn-system
    server: https://kubernetes.default.svc
  project: default
  sources:
    - chart: longhorn
      repoURL: https://charts.longhorn.io
      targetRevision: 1.11.0
      helm:
        valueFiles:
          - $values/values/longhorn/k0s-values.yaml
    - path: components/apps/longhorn
      repoURL: https://github.com/caseyrobb/k0s-gitops
      targetRevision: HEAD
      ref: values
  ignoreDifferences:
    - group: "apiextensions.k8s.io"
      kind: "CustomResourceDefinition"
      name: "instancemanagers.longhorn.io"
      jsonPointers:
        - /spec/preserveUnknownFields
    - group: "apiextensions.k8s.io"
      kind: "CustomResourceDefinition"
      name: "engineimages.longhorn.io"
      jsonPointers:
        - /spec/preserveUnknownFields
    - group: "apiextensions.k8s.io"
      kind: "CustomResourceDefinition"
      name: "engines.longhorn.io"
      jsonPointers:
        - /spec/preserveUnknownFields
    - group: "apiextensions.k8s.io"
      kind: "CustomResourceDefinition"
      name: "nodes.longhorn.io"
      jsonPointers:
        - /spec/preserveUnknownFields
    - group: "apiextensions.k8s.io"
      kind: "CustomResourceDefinition"
      name: "replicas.longhorn.io"
      jsonPointers:
        - /spec/preserveUnknownFields
    - group: "apiextensions.k8s.io"
      kind: "CustomResourceDefinition"
      name: "settings.longhorn.io"
      jsonPointers:
        - /spec/preserveUnknownFields
    - group: "apiextensions.k8s.io"
      kind: "CustomResourceDefinition"
      name: "volumes.longhorn.io"
      jsonPointers:
        - /spec/preserveUnknownFields
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
