apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb
  namespace: argocd
spec:
  destination:
    namespace: metallb-system
    server: https://kubernetes.default.svc
  project: default
  sources:
    - chart: metallb
      repoURL: https://metallb.github.io/metallb
      targetRevision: 0.15.2
      helm:
        valueFiles:
          - $values/values/metallb/k0s-values.yaml
    - kustomize:
        namespace: metallb-system
      path: components/apps/metallb
      repoURL: https://github.com/caseyrobb/k0s-gitops
      targetRevision: HEAD
      ref: values
  ignoreDifferences:
    - group: "apiextensions.k8s.io"
      kind: "CustomResourceDefinition"
      name: "bgppeers.metallb.io"
      jsonPointers:
        - /spec/conversion/webhook/clientConfig
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
