apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: paperless-ngx
  namespace: argocd
spec:
  destination:
    namespace: paperless-ngx
    server: https://kubernetes.default.svc
  project: default
  sources:
    - chart: paperless-ngx
      helm:
        parameters:
        valueFiles:
          - $values/values/paperless-ngx/k0s-gitops.yaml
      repoURL: https://charts.gabe565.com
      targetRevision: 0.24.1
    - kustomize:
        namespace: paperless-ngx
      path: components/apps/paperless-ngx
      repoURL: https://github.com/caseyrobb/k0s-gitops
      targetRevision: HEAD
      ref: values
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
    - kind: "StatefulSet"
      name: "paperless-ngx-redis-replicas"
      jsonPointers:
        - /spec/template/metadata/annotations/checksum~1secret
    - kind: "StatefulSet"
      name: "paperless-ngx-redis-master"
      jsonPointers:
        - /spec/template/metadata/annotations/checksum~1secret
    - kind: "Secret"
      name: "paperless-ngx-redis"
      jsonPointers:
        - /data/redis-password
