apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  sources:
    - chart: kube-prometheus-stack
      helm:
        valueFiles:
          - $values/values/prometheus/k0s-values.yaml
      repoURL: https://prometheus-community.github.io/helm-charts
      targetRevision: 82.0.2
    - chart: prometheus-snmp-exporter
      repoURL: https://prometheus-community.github.io/helm-charts
      targetRevision: 9.12.0
    - kustomize:
        namespace: monitoring
      path: components/apps/grafana
      repoURL: https://github.com/caseyrobb/k0s-gitops
      targetRevision: HEAD
      ref: values
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  ignoreDifferences:
    - group: apps
      kind: "StatefulSet"
      name: "kube-prometheus-stack-grafana"
      jsonPointers:
        - /spec/template/metadata/annotations/checksum~1secret
    - kind: "Secret"
      name: "kube-prometheus-stack-grafana"
      jsonPointers:
        - /data/admin-password
