apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sealed-secrets
  namespace: argocd
spec:
  destination:
    namespace: kube-system
    server: https://kubernetes.default.svc
  project: default
  sources:
    - chart: sealed-secrets
      helm:
        valueFiles:
          - $values/values/sealed-secrets/k0s-values.yaml
      repoURL: https://bitnami-labs.github.io/sealed-secrets
      targetRevision: 2.18.0
    - repoURL: https://github.com/caseyrobb/k0s-gitops.git
      targetRevision: HEAD
      ref: values
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
