apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: uptime-kuma
  namespace: argocd
spec:
  destination:
    namespace: uptime-kuma
    server: https://kubernetes.default.svc
  project: default
  sources:
    - chart: uptime-kuma
      repoURL: https://helm.irsigler.cloud
      targetRevision: 4.0.0
      helm:
        valueFiles:
          - $values/values/uptime-kuma/k0s-values.yaml
    - kustomize:
        namespace: uptime-kuma
      path: components/apps/uptime-kuma
      repoURL: https://github.com/caseyrobb/k0s-gitops
      targetRevision: HEAD
      ref: values
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
