apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: argocd
spec:
  destination:
    namespace: vault
    server: https://kubernetes.default.svc
  project: default
  sources:
    - kustomize:
        namespace: vault
      path: components/apps/vault
      repoURL: https://github.com/caseyrobb/k0s-gitops
      targetRevision: HEAD
      ref: values
    - chart: vault
      helm:
        valueFiles:
          - $values/values/vault/k0s-values.yaml
      repoURL: https://helm.releases.hashicorp.com
      targetRevision: 0.32.0
  ignoreDifferences:
    - group: "apps"
      kind: "StatefulSet"
      name: "vault"
      jsonPointers:
        - /spec/volumeClaimTemplates
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
