apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vaultwarden
  namespace: argocd
spec:
  destination:
    namespace: vaultwarden
    server: https://kubernetes.default.svc
  project: default
  sources:
    - chart: vaultwarden
      helm:
        valueFiles:
          - $values/values/vaultwarden/k0s-values.yaml
      repoURL: https://guerzon.github.io/vaultwarden
      targetRevision: 0.34.6
    - kustomize:
        namespace: vaultwarden
      path: components/apps/vaultwarden
      repoURL: https://github.com/caseyrobb/k0s-gitops
      targetRevision: HEAD
      ref: values
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
