name: Lint Code Base

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
jobs:
  run-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v7
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: "master"
          GITHUB_TOKEN: ${{ secrets.LINTER_TOKEN }}
          KUBERNETES_KUBECONFORM_OPTIONS: --ignore-missing-schemas
          KUBERNETES_KUBEVAL_OPTIONS: --ignore-missing-schemas --schema-location https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/
          VALIDATE_JSCPD: false
          VALIDATE_CHECKOV: false
          VALIDATE_YAML_PRETTIER: false
